html {
  scroll-behavior: smooth;
  background-color: #060809;
}
.abril {
  font-family: "Noto Sans Display", sans-serif;
  letter-spacing: 0.5;
}
.head-font {
  font-family: "Oleo Script Swash Caps", cursive;
}
a {
  transition: all 0.15s ease;
}

.bg-green-400 {
  background-color: #0bce5a !important;
}

.bg-dark {
  background-color: #060809;
}

/* text-yellow-500 */
a:hover {
  color: #0bce5a;
  text-decoration: none;
}

.text-orange {
  color: #0bce5a !important;
  fill: #0bce5a !important;
}

.player-scrub {
  width: calc(100% - 250px);
}

.top-neg-8 {
  top: -10px;
} 

.player-song-info {
  margin-top: -24px;
}

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #0bce5a;
  fill: #0bce5a;
}

#header, #app, #playlist {
  background-color: #060809;
}
section.main-header-content {
  z-index: 2;
}

.introduction-bg {
  animation: slid 50s linear infinite;
  background-image: url('./img/header-3.jpg');
  will-change: background-position;
  z-index: -1;
}

/* .text-white-600 {
  color: #fff;
} */

#playlist li:first-child {
  padding-top: 25px;
}

.upload-dropbox.upload-dropbox-drag{
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

.text-green {
  color: #0bce5a !important;
}

input[type="file"]{
  margin-top: 20px;
}

.progress-bar {
  background-size: 1rem 1rem;
  background-image: linear-gradient(
    45deg, rgba(255,255,255,.15) 
    25%, transparent 
    25%, transparent 
    50%, rgba(255,255,255,.15) 
    50%,rgba(255,255,255,.15) 
    75%, transparent 
    75%, transparent
  );
  animation: progress-bar-stripes 1s linear infinite;
}

.music-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  background-image: url(../assets/img/song-header.png);
}

.animate {
  animation: slide 50s linear infinite;
}

@media (max-width: 400px) {
  .player-song-info {
    margin-top: -34px;
  }
  .player-song-info {
    /* width: 50%; */
    animation: slide 50s linear infinite;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -4000px 0;
  }
}

